<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.emailbrain.train_adapter</string>
  <key>ProgramArguments</key>
  <array>
    <string>${HOME}/Applications/EmailBrain.app/Contents/Resources/scripts/train_adapter</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/emailbrain.train.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/emailbrain.train.err</string>
</dict>
</plist>
